body {
    background-color: black;
}

p{
    -webkit-text-fill-color: DodgerBlue;
    -webkit-text-stroke-width: 0.5px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size:medium;
    font-weight: bold;
    text-align: right;
    margin-top: 0.4%;
    float:right;
}

.teamLogo{
    width: 3%;
    height:3%;
}

.credits{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.5px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    position: absolute;
    bottom: 0; right: 0;
    text-align:right;
}

#middleContent{

    margin-right: 10%;
    margin-left: 10%;
    background-color: black;
}

#LogoImage{
    float:top;
    z-index:-1;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:350px;
    height:200px;
}

#TwitterLogoImage{
    float:right;
    z-index:-1;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50px;
    height:50px;
}

#RiotLogoImage{
    float:left;
    z-index:-1;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    height:75px;
}

#loading{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.5px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    height: 200px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -225px;
}

